<app-navbar *ngIf="idUser!=null && is_admin=='ADMIN'"></app-navbar>

<div style="position: relative;top: 48px;overflow: auto;height: -webkit-fill-available;">
    <div *ngIf="!hideAdd" class="popup">
        <button class="btnCancel" (click)="add()">X</button>
        <br>
        <div  class="popupHeader">
            <h2 *ngIf="addButton"  >Ajouter Probléme</h2>
            <h2 *ngIf="!addButton"  >Modifier Probléme</h2>
        </div>
        <hr>
        <div class="popupBody">
            <form [formGroup]="addProbleme">
                <!-- {{Probleme | json}}-->
                 <div class="col-md">
                    <!-- <mat-form-field style="width: 100%;">
                        <mat-select placeholder="Solutions"  [(ngModel)]="solutions" formControlName="Solution" multiple>
                            <mat-option>
                                <ngx-mat-select-search  noEntriesFoundLabel="'Aucun Solution'" placeholderLabel="Cherche" (keyup)="fSolution($event)"></ngx-mat-select-search>
                                <div id="cancelMatSearche"></div>
                            </mat-option>
                        <mat-option *ngFor="let item of solution" [value]="item.id" >{{item.name}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                   
                    <div class="form-group py-2">
                        <label for="vehicule">Probléme</label>
                        <input [(ngModel)]="Probleme.name" (keyup)="chercher($event.target)" formControlName="probleme" type="text" name="probleme" class="form-control" >
                        <small *ngIf="probleme.invalid" id="fileHelpId" style="color: red;" class="form-text"> ** </small>
                        <small *ngIf="deja" id="fileHelpId" style="color: red;" class="form-text"> * existe deja  </small>
                        
                    </div>
                    
                 </div>
             </form>
           

        </div>
        <hr>
        <div class="popupFouter">
        <button type="button" style="margin-right: 10px" class="btn btn-secondary" (click)="add()" >Annuler</button>
        <button *ngIf="addButton" class="btn btn-success " (click)="addNew()"  [disabled]="addProbleme.invalid" type="submit">Ajouter</button>
        <button *ngIf="!addButton" class="btn btn-warning " (click)="modProbleme(Probleme)" [disabled]="addProbleme.invalid" type="submit">Modifier</button>
   
      
        
        </div>
    </div>

    <div *ngIf="!hideAdd || Sup" class="backgroundBody">

    </div>

    <div *ngIf="Sup" id="supp">
        <p><b>Confirmer la suppression !</b></p>
        <button (click)="onDelete(idd)" class="btn btn-danger" style="width: 200px;">Supp</button><br>
        <button (click)="hideDetail()" class="btn btn-warning" style="width: 200px;">Annuler</button>
    </div>
    <div *ngIf="idUser!=null && is_admin=='ADMIN'" [style]="style">
        
        <div *ngIf="hideAdd" class="container py-4"> 
            
            <button type="button" style="width: 150px;" data-toggle="modal" data-target="#exampleModal" (click)="add()" class="btn btn-outline-primary">new</button>
        </div>

        
        
        
        
        
        <div class="container">
            <h1>Liste Problemes</h1>
                <input #inputText class="form-control" (keyup)="filter($event.target)" placeholder="Filter">
            
        </div>
        
        <div class="container col-md-12  table-responsive">
            
            <br>
            <mat-table class="tt" #table matSort [dataSource]="dataSource">
        
                <!-- Position Column -->
                <ng-container matColumnDef="num">
                <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.num}} </mat-cell>
                </ng-container>
        
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Probleme </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="mod">
                    <mat-header-cell *matHeaderCellDef> Modifier </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <button (click)="add();onMod(element)"  class="btn btn-primary" >mod</button> </mat-cell>
                </ng-container>
                <ng-container matColumnDef="supp">
                    <mat-header-cell *matHeaderCellDef > Supprimer </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <button (click)="toSupp(element.id)" class="btn btn-sm btn-danger" ><mat-icon>delete_forever</mat-icon></button> </mat-cell>
                </ng-container>
        
                
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator
            [pageSize]="15"
            [showFirstLastButtons]="true">
            </mat-paginator>
        
            
            
            
            
        </div>
        
        
</div>
<div style="height: 75px;"></div>
</div>