<nav style="padding-left: 5px;" class="navbar navbar-expand-sm navbar-dark bg-dark">

  
 
    <a class="navbar-brand" style="font-family: 'Times New Roman', Times, serif; font-size: 25px;">ISPPS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="margin-top: -4px;" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li *ngIf="is_admin!='ADMIN'" routerLinkActive="active" routerLink="/home" class="nav-item active">
                <a  class="nav-link" href="/home"><b>Home</b></a>
            </li>
            
            <li *ngIf="is_admin=='ADMIN'" routerLinkActive="active" routerLink="/acceuil" class="nav-item active">
                <a  class="nav-link" href="/acceuil"><b>Home</b></a>
            </li>
            <li *ngIf="is_admin=='ADMIN'" routerLinkActive="active" routerLink="/todo" class="nav-item active">
                <a  class="nav-link" href="/todo"><b>toDo</b></a>
            </li>
            <li routerLinkActive="active" routerLink="/journal" class="nav-item active">
                <a  class="nav-link" href="/journal"><b>Journal</b></a>
            </li>
            <!--<li *ngIf="is_admin!='ADMIN'" routerLinkActive="active" class="nav-item active">
                <a  class="nav-link" routerLink="/forms" href="/forms"><b>Réclamation</b></a>
            </li>-->
            <li *ngIf="is_admin=='ADMIN'" routerLinkActive="active" class="disabled">
                <div class="dropdown">
                    <a class="nav-link bg-dark"><b>Gestion</b></a>
                    <div class="dropdown-content bg-dark">
                        <a  class="nav-link" routerLink="/gestion/user" href="/gestion/user"><b>User</b></a>
                        <a  class="nav-link" routerLink="/gestion/ville" href="/gestion/ville"><b>Ville</b></a>
                        <a  class="nav-link" routerLink="/gestion/vehicule" href="/gestion/vehicule"><b>Véhicule</b></a>
                        <a  class="nav-link" routerLink="/gestion/produit" href="/gestion/produit"><b>Produit</b></a>
                        <a  class="nav-link" routerLink="/gestion/probleme" href="/gestion/probleme"><b>Probleme</b></a>
                        <a  class="nav-link" routerLink="/gestion/solution" href="/gestion/solution"><b>Solution</b></a>
                        <a  class="nav-link" routerLink="/gestion/ref" href="/gestion/ref"><b>Composant</b></a>
                    </div>
                </div>
            </li>
            <li *ngIf="is_admin=='ADMIN'" routerLinkActive="active" class="nav-item active">
                <a  class="nav-link" routerLink="/dashboard" href="/dashboard"><b>Dashboard</b></a>
            </li>
            
            <li *ngIf="is_admin!='ADMIN'" class="nav-item ">
               <mat-icon (click)="ran()" *ngIf="checkStatus=='in'" style="color: rgb(21, 206, 21);margin-top: 5px;margin-left: 10px;">alarm_add</mat-icon>
               <mat-icon (click)="Out()" *ngIf="checkStatus=='out'" style="color: rgb(255, 220, 64);margin-top: 5px;margin-left: 10px;">alarm_add</mat-icon>
            </li>
            
        </ul>
       
        <span class="navbar-text logout">
            <p>{{idUser}} &nbsp; <button (click)="Logout()"  class="btn btn-sm btn-warning ">Logout</button></p>
        </span>
        
    </div>
</nav>
<div *ngIf="style!=''" class="divBody" [style]="style">
</div>
<div *ngIf="checkOut" class="detail" #llll>
    
    <br><br>
    <div  class="container">
        <div class="alert alert-warning" role="alert">
            <strong>{{journalMessage}}</strong>
        </div>
        <div class="form-group row " style="display: grid;place-content: center;">
            <div class="col-sm py-1">
                <button (click)="cancel()" class="btn btn-sm btn-danger ok" >X</button>
            </div>
        </div>
        
    </div>
   
    
</div>

<div *ngIf="message!=''" class="alert alert-warning" role="alert">
    <strong>{{message}}</strong>
</div>
<div *ngIf="positionMessage!=''" class="alert alert-warning" role="alert">
    <strong>{{positionMessage}}</strong>
</div>

<script></script>