
<h1>Not Found</h1>

<!--

<input type="file" class="file-upload" (change)="binary($event)">
<input type="button"  value="upload">
<hr>
<input id="item" type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
 

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
         attach_file 
    </button>
</div>
<hr>
<input type="file" class="file-upload" (change)="image($event)">
<img [src]="file?.value">


<hr>
<h1>compress</h1>
<button (click)="compressFile()">Upload and compress Image</button>
        <img [src]="imgResultBeforeCompression" *ngIf="imgResultBeforeCompression" />
        <img [src]="imgResultAfterCompression" *ngIf="imgResultAfterCompression" />

        <mat-form-field  >
          <mat-select  [formControl]="selected"  [(ngModel)]="newForm" name="ville" placeholder="ville" >
            
            <mat-option  *ngFor="let item of ville"   [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <select [(ngModel)]="newForm" name="ville" id="">
          <option *ngFor="let item of ville" [value]="item.id"> {{item.name}}</option>
      </select>
-->


      
     

